<%- include("../includes/head.ejs") %>
<%- include("../includes/navigation.ejs") %>
</head>

<body>
    <form action="/admin/<% if(editing) { %>edit-product<% } else { %>add-product<%} %>" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<% if(editing) { %><%=product.title %><% } %>"></input></br>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<% if(editing) { %><%=product.name %><% } %>"></input></br>
        <label for="price">Price</label>
        <input type="text" name="price" id="price" value="<% if(editing) { %><%=product.price %><% } %>"></input></br>
        <label for="description">Description</label>
        <input type="text" name="description" id="description" value="<% if(editing) { %><%=product.description %><% } %>"></input></br>
        <% if(editing) { %>
            <input type="hidden" name="productId" value="<%= product.id %>">
        <% } %>
        <button type="submit"><% if(editing) { %>Update Product <% } else { %>Add Product <% } %></button>
    </form>
<%- include("../includes/end.ejs") %>