<%- include("../includes/head.ejs") %>
<%- include("../includes/navigation.ejs") %>
</head>
 
<body>
    <h1><%= product.title %></h1>
    <p><%= product.name %></p>
    <p><%= product.price %></p>
    <p><%= product.description %></p>

<%- include("../includes/end.ejs") %>